{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django Girls Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
        <h1><a href="{% url 'post_list' %}">Django Girls Blog</a></h1>

        <div class="top-menu">
            {% if user.is_authenticated %}
                <span>Hello {{ user.username }}!</span>

                <a href="{% url 'post_new' %}" class="top-menu">New Post</a>
                <a href="{% url 'post_draft_list' %}" class="top-menu">Drafts</a>

                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
