{% extends 'blog/base.html' %}

{% block content %}
<article class="post">

    <h1>{{ post.title }}</h1>

    {% if post.published_date %}
        <time class="date">{{ post.published_date }}</time>
    {% else %}
        <form method="post" action="{% url 'post_publish' pk=post.pk %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Publish</button>
        </form>
    {% endif %}

    <p>{{ post.text|linebreaksbr }}</p>

    {% if user.is_authenticated %}
        <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
            Edit
        </a>

        <form method="post" action="{% url 'post_remove' pk=post.pk %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    {% endif %}

</article>
{% endblock %}